{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{# Template to display/configure an App, used by views.AppView #}

{% load bootstrap %}
{% load i18n %}
{% load plinth_extras %}
{% load static %}

{% block content %}

  {% block pagetitle %}
    <h2>{{ name }}</h2>
  {% endblock %}

  {% block description %}
    {% for paragraph in description %}
      <p>{{ paragraph|safe }}</p>
    {% endfor %}
  {% endblock %}

  {% if manual_page %}
    <p class="manual-page">
      <a href="{% url 'help:manual-page' manual_page %}">
        {% trans 'Learn more...' %}
      </a>
    </p>
  {% endif %}

  {% include "clients.html" with clients=clients enabled=is_enabled %}

  {% block subsubmenu %}
    {% if subsubmenu %}
      {% show_subsubmenu subsubmenu %}
    {% endif %}
  {% endblock %}

  {% block status %}
    {% if show_status_block %}
      <h3>{% trans "Status" %}</h3>
      <p class="running-status-parent">
        {% with service_name=name %}
          {% if is_running %}
            <span class="running-status active"></span>
            {% blocktrans trimmed %}
              Service <em>{{ service_name }}</em> is running.
            {% endblocktrans %}
          {% else %}
            <span class="running-status inactive"></span>
            {% blocktrans trimmed %}
              Service <em>{{ service_name }}</em> is not running.
            {% endblocktrans %}
          {% endif %}
        {% endwith %}
      </p>
    {% endif %}
  {% endblock %}

  {% block diagnostics %}
    {% if diagnostics_module_name %}
      {% include "diagnostics_button.html" with module=diagnostics_module_name enabled=is_enabled %}
    {% endif %}
  {% endblock %}

  {% include "internal-zone.html" %}

  {% include "port-forwarding-info.html" with service_name=name %}

  {% block configuration %}
    <h3>{% trans "Configuration" %}</h3>

    <form class="form form-configuration" method="post">
      {% csrf_token %}

      {{ form|bootstrap }}

      <input type="submit" class="btn btn-primary"
             value="{% trans "Update setup" %}"/>
    </form>
  {% endblock %}

{% endblock %}
