{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

<li class="dropdown">
  <a href="{% url 'help:index' %}" title="{% trans "Help" %}"
     class="dropdown-toggle" data-toggle="dropdown"
     role="button" aria-expanded="false" aria-expanded="false">
    <span class="fa fa-question-circle nav-icon"></span>
    <span class="nav-text hidden-sm hidden-md hidden-lg">
      {% trans "Help" %}
    </span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="{% url 'help:manual' %}"
         title="{% trans "Manual"%}">
        {% trans "Manual" %}
      </a>
    </li>
    <li role="separator" class="divider hidden-xs"></li>
    <li>
      <a href="{% url 'help:support' %}"
         title="{% trans "Get Support" %}">
        {% trans "Get Support" %}
      </a>
    </li>
    <li>
      <a href="{% url 'help:feedback' %}"
         title="{% trans "Submit Feedback" %}">
        {% trans "Submit Feedback" %}
      </a>
    </li>
    <li>
      <a href="{% url 'help:contribute' %}"
         title="{% trans "Contribute" %}">
        {% trans "Contribute" %}
      </a>
    </li>
    <li role="separator" class="divider hidden-xs"></li>
    <li>
      <a href="{% url 'help:about' %}"
         title="{% trans "About" %}">
        {% trans "About" %}
      </a>
    </li>
  </ul>
</li>
